<html>
    <head>
      <title>{{ title }}</title>
      <link href="/static/css/style.css" rel="stylesheet" />
      <meta charset=utf-8 />
      <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"> -->
      <script src="/static/js/main.js"></script>
    </head>
    <body>
    <h1 id="machineName">{{ title }}</h1>
    <div id="config">
        <input id="layoutButton" class="button" type="image" src="/static/img/pencil.svg" title="toggle edit mode"/>
        <input id="saveButton" class="button" type="image" src="/static/img/save.svg" title="save layout"/>
    </div>
     <div>
        <div id="cy"></div>
     </div>
    </body>
</html>
